/* Definir la letra de todo el documento html */
html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #1c1c1c;
    color: white;
}

.container_head{
    background-color: #3b4349;
    padding: 10px 10px;
}

.container_foot{
    background-color: #3b4349;
    padding: 10px 10px;
}

header section{
    margin: 0;
}

.infoHead{
    display: inline;
    margin: 0 auto;
    text-align: center;
}

#logo{
    width: 150px;
    height: 129.96px;
}

header section{
    display: flex;
}

header section div h1{
    font-size: 45px;
}

#viewport{
    margin: 15px;
    display: flex;
}

.container_article{
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease;
}

.container_article p{
    color: black;
}

.container_article img{
    width: 200px;
}

/* Color para cada articulo */
#htmlArticle{
    background-color: rgba(255, 166, 0, 0.74);
}

#cssArticle{
    background-color: rgba(102, 185, 185, 0.87);
}

#othersArticle{
    background-color: rgba(192, 105, 105, 0.911);
}

/* Sombra cuando se pone el mouse encima de cada articulo */
#htmlArticle:hover{
    box-shadow:  0 0.1rem 0.4rem white;
}

#cssArticle:hover{
    box-shadow:  0 0.1rem 0.4rem white;
}

#othersArticle:hover{
    box-shadow:  0 0.1rem 0.4rem white;
}

footer{
    text-align: center;
    color: white;
    padding: 0;
}

footer section div a{
    display: block  ;
}

footer p{
    margin: 0;
}

/* Color para las etiquetas */
footer a, body a{
    transition: color 0.3 ease;
    color: white;
    text-decoration: none;
}

/* Para cuando se pasa el mouse encima del link */
body a:hover{
    color: rgb(90, 3, 90);
}

footer a:hover{
    color: gold;
}

/* Tablas de HTML y CSS */
.infoTable{
    color: white;
    text-align: center;
    padding: 15px;

}

.mainTable th, td{
    width: 680px;
    border: 1px solid white;
}

.labelHead, .secTitle{
    color: orange;
}

.labelHeadCSS, .secTitleCSS{
    color: rgb(128, 178, 211);
}

